@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

/* .circle1{
    width: 500px;
    height: 500px;
    background: red;
    border-radius: 50%;
    position: absolute;
    margin: -200px 0 50px 100px;
}

.circle2{
    width: 500px;
    height: 500px;
    background: red;
    border-radius: 50%;
    position: absolute;
    margin: 50px 50px 0 -200px;
} */

main{
    width: 58%;
    height: 70%;
}

section{
    width: 100%;
    height: 50%;
    display: flex;
}

footer{
    width: 100%;
    height: 50%;
}

.top-left-div{
    width: 50%;
    height: 100%;
}

h1{
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    font-weight: 1000;
    font-weight: bolder;
}

h3{
    line-height: 1.5em;
    margin: 3em 0;
    color:hsl(303, 10%, 53%);
}

.top-right-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
}

.stars-1{
    width: 7em;
    height: 1.5em;
    position: absolute;
    margin-right: 300px;
}

.stars-2{
    width: 7em;
    height: 1.5em;
    position: absolute;
    margin-top: -130px;
    margin-right: 350px;
}

.stars-3{
    width: 7em;
    height: 1.5em;
    position: absolute;
    margin-top: 135px;
    margin-right: 250px;
}

.rated-star-reviews,
.rated-star-guru,
.rated-star-bestTech{
    background: hsl(327, 35%, 94%);
    width: 25em;
    height: 3.5em;
    border-radius: 0.5em;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    text-indent: 150px;
    line-height: 3.5em;
}

.rated-star-guru{
    margin: 15px 50px;
}

.rated-star-reviews{
    margin: 0 100px;
}

footer{
    display: flex;
    justify-content: space-between;
}

.bottom-left-div,
.bottom-right-div,
.bottom-center-div{
    background: hsl(300, 43%, 22%);
    width: 350px;
    height: 240px;
    border-radius:10px;
    color: white;
    padding: 30px;
}

.bottom-center-div{
    margin: 1em;
}

.bottom-right-div{
    margin: 2em 0;
}

.colton{
    width: 250px;
    height: 80px;
    /* background:hsl(0, 60%, 46%); */
    position: relative;    
}

.irene{
    width: 250px;
    height: 180px;
    /* background:hsl(0, 60%, 46%); */
    position: relative; 
}

img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h4{
    margin: 15px 75px;
}

span{
    color: hsl(333, 80%, 67%);
    margin:75px;
}

p{
    line-height: 20px;
    font-size: 16px;
}

.p-irene{
    margin-top: 25px;
}

.p-anne{
    margin-top: 40px;
}

@media (max-width:300px) {
    body{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}
